<section id="login" class="mb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <div class="card_login">
                    <div class="card">
                        <div class="card-body text-center">
                            <form class="form-group">
                                <h1 class="h3 mb-3 font-weight-normal">Resetear Contraseña</h1>
                                <p class="text-center">Ingresa tu correo para reestablecer la contraseña.</p>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Direccion de Correo" #passwordResetEmail required>
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary btn-block" value="Resetear" (click)="authService.ForgotPassword(passwordResetEmail.value)">Resetear</button>

                                <div class="form-group">
                                    <a routerLink="/user/login" class="form-control login-user">Regresar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>