<div>
    <span *ngIf="authService.isLoggedIn; then screen1 else screen2"></span>
    <ng-template #screen1>
        <app-navbar></app-navbar>
        <div class="row">
            <div class="col-2">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-10">
                <div class="container mt-5">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #screen2>
        <div class="container mt-5">
            <router-outlet></router-outlet>
        </div>
    </ng-template>
</div>


<app-footer></app-footer>