<ul class="nav flex-column mt-5 ">
    <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a class="nav-link" routerLink="/home">Inicio</a>
    </li>
    <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a class="nav-link" routerLink="/admin/list-item">Inventario</a>
    </li>
    <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a class="nav-link" routerLink="/user/list-users">Usuarios</a>
    </li>
    <li class="nav-item" *ngIf="authService.isLoggedIn">
        <a class="nav-link" routerLink="/user/profile">Perfil</a>
    </li>
</ul>