<section id="login" class="mb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <div class="card_login">
                    <div class="card">
                        <div class="card-body text-center">
                            <form #formLogin="ngForm">
                                <h1 class="h3 mb-3 font-weight-normal">Acceso</h1>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Correo" #userName required>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password" #userPassword required>
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary btn-block" (click)="authService.loginEmailUser(userName.value, userPassword.value)">Acceder</button>
                                <div class="form-group">
                                    <span class="or"><span class="orInner">O</span></span>
                                </div>
                                <button class="btn btn-block btn-social btn-google" (click)="authService.loginGoogleUser()">
                                    <span class="fa fa-google"></span> Accede con Google
                                </button>
                                <div class="form-group">
                                    <a routerLink="/user/forgot-password" class="form-control login-user">Olvidaste la contraseña?</a>
                                </div>
                                <div class="form-group">
                                    <a routerLink="/user/register" class="form-control login-user">No tienes cuenta? Registrate</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>