<section id="register" class="mb-5 mt-5">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <div class="card_register">
                    <div class="card">
                        <div class="card-body text-center">
                            <form class="form-group">
                                <h1 class="h3 mb-3 font-weight-normal">Registrate</h1>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email Address" #userEmail required minlength="8">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password" #userPwd required minlength="5" maxlength="20">
                                </div>
                                <hr>
                                <button type="button" class="btn btn-lg btn-primary btn-block" (click)="authService.registerUser(userEmail.value, userPwd.value)">Registrar</button>
                                <div class="formGroup">
                                    <span class="or"><span class="orInner">O</span></span>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-block btn-social btn-google" (click)="authService.loginGoogleUser()">
                                        <span class="fa fa-google"></span> Accede con Google
                                    </button>
                                </div>
                                <div class="form-group">
                                    <a routerLink="/user/login" class="form-control login-user">Tienes una cuenta?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>