<section id="item">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <div class="card_item">
                    <div class="card">
                        <div class="card-body text-center">
                            <p>
                                <img src="{{item.photo}}" alt="{{item.name}}" class="img-fluid">
                            </p>
                            <h4 class="card-title">{{item.name}}</h4>
                            <p class="card-text">
                                {{item.description}}
                            </p>
                            <p class="card-text">
                                {{item.characteristics}}
                            </p>
                            <div class="container-price card-title">
                                {{item.price}}
                            </div>
                            <a href="#" target="_blank" class="btn btn-block btn-primary">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>